# Build
build/
lib/
math_core/target/
build-windows/
/out/
/bin/
/obj/
CMakeFiles/
CMakeCache.txt
*.ilk
*.pdb
*.obj
*.lib
*.dll
*.exe
*.log

# Data
game_index/save/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
